[Unit]
Description=webserver service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
User=pi
WorkingDirectory=/home/pi/AUTOMAT/webserver2
ExecStart="/home/pi/AUTOMAT/webserver2/run.sh"

[Install]
WantedBy=multi-user.target
