[Unit]
Description=Pi_server service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart="/home/pi/AUTOMAT/webserver2/run.sh"

[Install]
WantedBy=multi-user.target
