[Unit]
Description=webserver service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
#User=gabo13
WorkingDirectory=/home/gabo13/Automation/webserver
ExecStart="/home/gabo13/Automation/webserver/run.sh"

[Install]
WantedBy=multi-user.target
